h2 {
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

section {
    padding-bottom: 20px;
}

.myHeader {
    padding-top: 50px;
    padding-bottom: 50px;
    text-shadow: rgb(235, 235, 235);
}

.myMenu {
    background-color: rgb(235, 235, 235);
}

.myProject {
    padding-bottom: 30px;
}

.mySkill {
    background-color: #fff;
}

.myIcon1 {
    background-image: url(../img/mail.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15px;
    margin-top: auto;
}

.myIcon2 {
    background-image: url(../img/vk.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15px;
}

.myIcon3 {
    background-image: url(../img/telegram.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15px;
}

.myIcon4 {
    background-image: url(../img/github.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15px;
}